<a href="https://colab.research.google.com/github/arifanabilaa/PBO/blob/main/Sesi_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#sesi1

**Menggunakan sintaks print**

In [ ]:
##
# Menampilkan alamat lengkap seseorang
#
print("Hendri Ahmadian")
print("Department of Information Technology")
print("UIN Ar-Raniry")
print("Jalan Syech Abdurrauf Kopelma Darussalam")
print("Banda Aceh 23111")
print("Indonesia")

Hendri Ahmadian
Department of Information Technology
UIN Ar-Raniry
Jalan Syech Abdurrauf Kopelma Darussalam
Banda Aceh 23111
Indonesia

**Menghitung luas kamar**

In [ ]:
##
# Menghitung luas kamar
#

# Membaca angka yang dimasukkan oleh user
panjang = float(input("Masukkan ukuran panjang dalam satuan meter "))
lebar = float(input("Masukkan ukuran lebar dalam satuan meter "))

# Proses perhitungan luas
luas = panjang * lebar

# Tampilkan hasil
print("Luas dari kamar ini adalah", luas, "meter kuadrat")

Masukkan ukuran panjang dalam satuan meter 5
Masukkan ukuran lebar dalam satuan meter 4
Luas dari kamar ini adalah 20.0 meter kuadrat

**Menghitung jumlah dari suatu bilangan**

In [ ]:
##
# Menghitung jumlah dari bilangan positif pertama
#

# Membaca angka yang dimasukkan oleh user
n = int(input("Masukkan bilangan bulat positif:"))

# Proses Menghitung jumlah
sm = n * (n+1) / 2

# Tampilkan hasil
print("Jumlah pertama dari ", n, "bilangan positif adalah", sm)

Masukkan bilangan bulat positif:2
Jumlah pertama dari  2 bilangan positif adalah 3.0

**Mengenal fungsi aritmatika**

In [ ]:
##
# Pengenalan operator matematika pada Python dan modul math
#

from math import log10

# Membaca input dari user
x = int (input("Masukkan bilangan dari x:"))
y = int (input("Masukkan bilangan dari y:"))

# Menghitung dan menampilkan operator matematika
print(x, "+", y, "adalah", x + y)
print(x, "-", y, "adalah", x - y)
print(x, "*", y, "adalah", x * y)
print(x, "/", y, "adalah", x / y)
print(x, "%", y, "adalah", x % y)

# Menghitung logaritma dan pangkat
print("Logaritma basis 10 dari", x, "adalah", log10(x))
print(x, "^", y, "adalah", x**y)

Masukkan bilangan dari x:2
Masukkan bilangan dari y:3
2 + 3 adalah 5
2 - 3 adalah -1
2 * 3 adalah 6
2 / 3 adalah 0.6666666666666666
2 % 3 adalah 2
Logaritma basis 10 dari 2 adalah 0.3010299956639812
2 ^ 3 adalah 8

#sesi2

**Menentukan apakah suatu bilangan genap atau ganjil**

In [ ]:
##
# Program untuk menentukan apakah sebuah bilangan yang diinput ganjil atau genap
#

# Membaca bilangan yang dimasukkan user
bil = int(input("Masukkan sebuah bilangan:"))

# Proses untuk menentukan bilangan tersebut ganjil atau genap
# Menggunakan operator modulus
if bil % 2 == 1:
  print(bil, "adalah bilangan ganjil")
else:
  print(bil, "adalah bilangan genap")

Masukkan sebuah bilangan:2
2 adalah bilangan genap

Menentukan suatu huruf vokal atau **konsonan**

In [ ]:
##
# Program untuk menentukan apakah huruf tersebut vokal atau konsonan
# Dalam Ejaan Bahasa Inggris

# Membaca huruf yang dimasukkan user
hur= input("Masukkan sebuah huruf dari kumpulan abjad:")

#Proses menentukan huruf dan menampilkan hasilnya
if hur =="a" or hur == "e" or \
   hur =="i" or hur == "o" or \
   hur =="u":
  print("Ini adalah vokal.")
elif hur =="y":
  print("Kadang vokal...kadang konsonan")
else:
  print("Ini adalah konsonan.")

Masukkan sebuah huruf dari kumpulan abjad:a
Ini adalah vokal.

**Program Menentukan nama Ukuran geometri berdasarkan sisinya**

In [ ]:
##
# Menampilkan nama ukuran geometri berdasarkan jumlah sisi yang diinput
#

# Membaca jumlah sisi yang diinput oleh user
sisi = int(input("Masukkan jumlah sisinya:"))

# Menampilkan nama ukuran geometri tersebut
nama = ""
if sisi == 3:
  nama = "triangle"
elif sisi == 4:
  nama = "quadrilateral"
elif sisi == 5:
  nama = "pentagon"
elif sisi == 6:
  nama = "hexagon"
elif sisi == 7:
  nama = "heptagon"
elif sisi == 8:
  nama = "ocatagon"
elif sisi == 9:
  nama = "nonagon"
elif sisi == 10:
  nama = "decagon"

# Menampilkan pesan kesalahan atau nama dari ruang geometri
if nama == "":
  print("Jumlah sisi yang diinput tidak ada dalam database")
else:
  print("Ini adalah", nama)

Masukkan jumlah sisinya:7
Ini adalah heptagon

**Program menampilkan 4 musim berdasarkan bulan dan tanggal**

In [ ]:
##
# Menentukan dan menampilkan nama musim berdasarkan tanggal
#

# Membaca tanggal yang diinput oleh user
bulan = input("masukkan nama bulan:")
tgl = int(input("masukkan tanggal dibulan tersebut:"))

# Proses menentukan nama musim
if bulan == "Januari" or bulan =="Februari":
  musim = "Winter"
elif bulan == "Maret":
  if tgl < 20:
    musim = "Winter"
  else:
    musim = "Spring"
elif bulan =="April" or bulan == "Mei":
  musim = "Spring"
elif bulan == "Juni":
  if tgl < 21:
    musim = "Spring"
  else:
    musim = "Summer"
elif bulan =="Juli" or bulan == "Agustus":
  musim = "Summer"
elif bulan == "September":
   if tgl < 22:
     musim = "Summer"
   else:
     musim = "Fall"
elif bulan =="Oktober" or bulan == "November":
  musim = "Fall"
elif bulan == "Desember":
    if tgl < 21:
      musim = "Fall"
    else:
      musim = "Winter"

# Tampilkan hasil
print(tgl, bulan, "adalah dalam musim", musim)

masukkan nama bulan:Desember
masukkan tanggal dibulan tersebut:10
10 Desember adalah dalam musim Fall

#sesi3

**Contoh sederhana perulangan for**

In [ ]:
# Deklarasi variabel contoh dan 10 itu sebagai tanda 10 kali perulangan
contoh = 10

# Variabel i berfungsi untuk menampung indeks,
# dan fungsi range() berfungsi untuk membuat list dari 0-10.
for i in range(contoh):
    print ("Perulangan ke-" +str(i))


# Menampilkan range dari kumpulan deret tertentu
# range(5,10) akan membuat deret angka mulai dari 5, 6, 7, 8, dan 9.

for i in range(5,10):
  print(i)

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9
5
6
7
8
9

**Contoh menampilkan isi dalam body perulangan**

In [ ]:
# Deklarasi variabel contoh2 dengan tipe list
contoh2 = ['saya','suka','minum','kopi', 'gayo']

for isi in contoh2:
    print (isi)

saya
suka
minum
kopi
gayo

**Contoh menggunakan while**

In [ ]:
# Deklarasi variabel hit
hit = 0
# Membuat kondisi
while (hit < 5):
    print(hit, "kurang dari 5")
    hit = hit + 1
else:
# Menampilkan output salam jika kondisi sudah terpenuhi
    print("Salammmm")

0 kurang dari 5
1 kurang dari 5
2 kurang dari 5
3 kurang dari 5
4 kurang dari 5
Salammmm

**Program Menghitung Harga Tiket Masuk**

In [ ]:
##
# Program menghitung Faktor Persekutuan Terbesa
#

# Membaca dua bilangan positif dari user
n = int(input("Masukkan bilangan positif:"))
m = int(input("Masukkan bilangan positif:"))

# Inisialisasi variabel untuk nilai terkecil dari n dan m
d = min(n, m)

# Gunakan loop while untuk mencari FPT
while n % d != 0 or m % d != 0:
  d = d - 1

# Menampilkan hasil
print("Faktor persekutuan terbesar dari", n, "dan", m, " adalah", d)

Masukkan bilangan positif:2
Masukkan bilangan positif:4
Faktor persekutuan terbesar dari 2 dan 4  adalah 2

**Program Mencari Nilai Maksimum dari 100 bilangan bulat**

In [ ]:
##
# Menentukan nilai maksimum 100 bilangan bulat, menghitung berapa kali
# perulangan

from random import randrange

BIL_ITEMS = 100

# Generate the first number and menampilkan nya
maks_nilai = randrange(1, BIL_ITEMS + 1)
print(maks_nilai)

# Menghitung berapa kali perubahan
bil_update = 0

# Untuk setiap bilangan
for i in range(1, BIL_ITEMS):
  # Generate bilangan acak
  current = randrange(1, BIL_ITEMS + 1)

  # Kondisi jika ditemukan bilangan terbesar
  if current > maks_nilai:
    # Update nilai maksimum dan hitung perubahan
    maks_nilai = current
    bil_update = bil_update + 1
    # Tampilkan bilangan jika masih ada proses update
    print(current, "<== Update")
  else:
    #Tampilkan bilangan
    print(current)

# Tampilkan Hasil Terakhir
print(" Nilai maksimum yang ditemukan adalah", maks_nilai)
print("Nilai maksimum yang di-update", bil_update, "kali")

51
4
28
85 <== Update
37
79
51
9
12
42
61
98 <== Update
78
32
36
55
68
95
37
4
25
31
11
51
33
46
45
25
90
52
6
61
73
32
62
90
55
75
25
59
93
99 <== Update
70
51
26
17
42
38
49
74
54
11
61
24
81
64
8
9
96
44
62
85
22
10
82
70
4
86
80
22
94
64
58
93
88
11
46
27
8
29
32
6
57
22
69
22
98
16
50
61
47
35
89
31
5
84
53
59
78
31
 Nilai maksimum yang ditemukan adalah 99
Nilai maksimum yang di-update 3 kali

# sesi4

> Add blockquote

**Membuat fungsi tanpa parameter**

In [ ]:
# Program Fungsi dengan parameter
# Fungsi untuk menyapa seseorang sesuai nama yang dimasukkan sebagai parameter
def kenalan(nama):
     print("Salam, " + nama + ". Apa kabar?")

# pemanggilan fungsi
kenalan('Hamzah')

Salam, Hamzah. Apa kabar?

**Program untuk mencari nilai median**

In [ ]:
# Menghitung dan menampilkan nilai median dari inputan tiga angka
# Program ini dibuat dengan kata kunci def untuk membuat fungsi
# menghitung nilai median dari 3 nilai yang diinput

def median(a, b, c):
# Proses perhitungan median cara pertama dengan perbandingan
# Menggunakan kata kunci retun untuk mengembalikan nilai
# untuk masing-masing nilai, yaitu a, b dan c
  if a < b and b < c or a> b and b > c:
    return b
  if b < a and a < c or b > a and a > c:
    return a
  if c < a and b < c or c > a and b > c:
    return c

# Proses perhitungan median cara kedua
def median2(a, b, c):
    return a + b + c - min(a, b, c) - max(a, b, c)

# Menampilkan nilai inputan 3 angka
def utama():
  x = float(input("Masukkan nilai pertama:"))
  y = float(input("Masukkan nilai kedua:"))
  z = float(input("Masukkan nilai ketiga:"))

  print("Nilai median dengan cara pertama:", median(x, y, z))
  print("Nilai median dengan cara kedua:", median2(x, y, z))

# Memanggil fungsi utama()
utama()

Masukkan nilai pertama:5
Masukkan nilai kedua:10
Masukkan nilai ketiga:15
Nilai median dengan cara pertama: 10.0
Nilai median dengan cara kedua: 10.0

# sesi5

**Program Membuat List**

In [ ]:
# Pembuatan list pada bahasa pemrograman python
list1 = ["a", "b", "c", "d"]
list2 = ['bahasa arab', 'bahasa aceh', 2019, 2020]
list3 = [1, 2, 3, 4, 5, 6, 7 ]


# Mengakses Nilai list dalam Python
print ("list1[0]: ", list1[0])
print ("list2[1:3]: ", list2[1:3])
print ("list3[1:5]: ", list3[1:6])

list1[0]:  a
list2[1:3]:  ['bahasa aceh', 2019]
list3[1:5]:  [2, 3, 4, 5, 6]

**Mengupdate Nilai pada List**

In [ ]:
# Pembuatan list dan mengakses nilai list pada indeks 2
list = ['bahasa arab', 'bahasa aceh', 2019, 2020]
print ("Nilai ada pada index 2 adalah: ", list[2])

# Proses Update nilai list pada indeks 2
list[2] = 2018
print ("Nilai baru ada pada index 2 adalah: ", list[2])

Nilai ada pada index 2 adalah:  2019
Nilai baru ada pada index 2 adalah:  2018

**Menghapus Nilai pada List**

In [ ]:
# Pembuatan list
list = ['bahasa arab', 'bahasa aceh', 2019, 2020]
print ("Daftar list sebelum dihapus:", list)

# Proses menghapus nilai List pada indeks 1
del list[1]
print ("Setelah dihapus nilai pada index 1 : ", list)

Daftar list sebelum dihapus: ['bahasa arab', 'bahasa aceh', 2019, 2020]
Setelah dihapus nilai pada index 1 :  ['bahasa arab', 2019, 2020]

#sesi6

**Program Sederhana Membuat Tuple**

In [ ]:
# Deklarasi variabel stup1, stup2 dan stup3
stup1 = ('bahasa arab', 'bahasa aceh', 2019, 2020)
stup2 = (1, 2, 3, 4, 5, 6, 7, 8)
stup3 = "e", "f", "g", "h"

# Mengakses nilai pada variabel ketiga tupel diatas
print ("stup1[1]: ", stup1[1])
print ("stup2[1:5]: ", stup2[1:5])

stup1[1]:  bahasa aceh
stup2[1:5]:  (2, 3, 4, 5)

**Mengakses Nilai Tuple**

In [ ]:
# Deklarasi Variabel ach
ach = ("Mie Aceh", 10000, 3.5, True, 'AyamPramugari', 88j)

# Mengakses nilai tuple
# Data pertama indeks 0
print("ach[0]:", ach[0])
# Data kedua indeks 1
print("ach[1]:", ach[1])
# Data ketiga indeks 2
print("ach[2]:", ach[2])
# Data antara indeks 2 dan 5
print("ach[2:5]:", ach[2:5])
# Data dari indeks satu sampai indeks 3
print("ach[:3]:", ach[:3])
# Data dari indeks 3 sampai dengan indeks seterusnya
print("ach[3:]:", ach[3:])
# Data keseluruhan
print("ach[:]:", ach[:])

ach[0]: Mie Aceh
ach[1]: 10000
ach[2]: 3.5
ach[2:5]: (3.5, True, 'AyamPramugari')
ach[:3]: ('Mie Aceh', 10000, 3.5)
ach[3:]: (True, 'AyamPramugari', 88j)
ach[:]: ('Mie Aceh', 10000, 3.5, True, 'AyamPramugari', 88j)

**Membuat Tuple dari Kumpulan Tuple**

In [ ]:
# Contoh menambah variabel baru pada daftar tuple
stup1 = (10, 5.78)
stup2 = ('def', 'opq')

# Jika ditambah baris berikut:
# stup1[0] = 100;
# tidak bisa dilakukan pada tuple python

# Jadi, buatlah variabel tuple baru sebagai berikut
stup3 = stup1 + stup2
print (stup3)

del stup3
print("setelah dihapus:")

(10, 5.78, 'def', 'opq')
setelah dihapus: